VITE_FIREBASE_API_KEY=AIzaSyBRCNCdaNgA6lLbAyG3aJV9THIOX4awQq0
VITE_FIREBASE_AUTH_DOMAIN=goaldrive-82a86.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=goaldrive-82a86
VITE_FIREBASE_STORAGE_BUCKET=goaldrive-82a86.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=373606626643
VITE_FIREBASE_APP_ID=1:373606626643:web:137aa14b7a49b0ffe39da6
